* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter';
} 
.text {
  display: block;
  width: 800px;
  height: 300px;
  padding: 10px;
  font-size: 16px;
  color: black;
  margin:30px auto;
}
.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 800px;
  height: 300px;
  padding: 5px;
  background-color: gray;
  margin: 20px auto;
}
.row {
  display: flex;
  gap: 5px;
  width: 99%;
  height: 18%;
  margin: 0 auto;
  background-color: aqua;
}
.key {
  width: 6%;
  background-color: rgba(143, 210, 192, 0.648);
}
.key.active {
  background-color: rgba(212, 169, 113, 0.703);
}
.en{
  display: block;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 500;
  color: black;
  text-align: center;
  margin-top: 15px;
}
.row__backspace,
.row__tab,
.row__delete,
.row__caps,
.row__enter,
.row__shift,
.row__arrow, 
.row__shift-right,
.row__ctrl,
.row__meta,
.row__alt,
.row__alt-right,
.row__ctrl-right {
  background-color: rgba(25, 109, 87, 0.648);
}
.row__backspace,
.row__caps,
.row__shift {
  width: 15%;
}
.row__tab {
  width: 8%;
}
.row__delete,
.row__meta {
  width: 7%;
}
.row__enter,
.row__shift-right {
  width: 12%;
}
.row__space {
  width: 49%;
}


